<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	 
  <http auto-config="true" create-session="never" use-expressions="true">
	    <intercept-url method = "POST" pattern="/secured*" access="hasRole('ROLE_ADMIN')"/>
		<intercept-url method = "GET" pattern="/*" access="hasRole('ROLE_USER')"/>
		<!-- <remember-me
			key="ssaKey"
			token-validity-seconds="2419200"/> -->
   </http>
 
 
    
	<authentication-manager>
	  <authentication-provider>
	    <user-service>
			   <user name="admin" password="admin123" authorities="ROLE_ADMIN" />
			   <user name="user" password="user123" authorities="ROLE_USER" />
	    </user-service>
	  </authentication-provider>
	</authentication-manager>
 </beans:beans>